
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show-background {
    0% {
        transform: translate(-110%, 95%);
    }
    50% {
        transform: translate(0, 95%);
    }
    100% {
        transform: none;
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes no-transform {
    100% {
        transform: none;
    }
}



