
.transition_demo {
    background-color: #D0DDD7;
    border: 10px solid #7E846B;
    border-radius: 5px;
    color: #f5f5f5;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 20rem;
    height: 10rem;
    max-width: 100%;
}

.demo-letter { 
    position: absolute;
    left: 50%;
    top: 50%;
    transition: transform .4s ease-out;
}

.demo-letter1 {
    transform: translate(-50%, -50%);
}

.demo-letter2 {
    transform: translate(-50%, 200%);
}

.transition_demo:hover .demo-letter1 {
    transform: translate(-50%, 200%);
}

.transition_demo:hover .demo-letter2 {
    transform: translate(-50%, -50%);
}